@import "tailwindcss";
@config '../../tailwind.config.js';

@layer utilities {
  .prose {
    max-width: 80ch;
  }
}
@layer components {
  .prose blockquote {
    @apply text-sm !mt-2 !mb-2;
  }
}
.anticon-spin::before,
.anticon-spin {
  display: inline-flex;
}
